.card-img-top {
  object-fit: cover;

  @media screen and (min-width: 576px) {
    height: 220px;
  }

  @media screen and (min-width: 768px) {
    height: 250px;
  }
}

.badge {
  font-size: 0.75rem;
}

.btn-light {
  background-color: #ffffff42;
  border: none;
  width: 40px;
  height: 40px;
}
